<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#"
       id="managedropdownmenu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
            Quản lí liên hệ
        </a>
    </div>
</div>
